body{
	padding:0px;
	margin:0px;
}
.header{
	background-color:#1A3333;
	color:white;
	text-align:center;
	top:0px;
	width:100%;
	padding:5px;
}
form{
	width:40%;
	padding:30px;
	border:2px solid black;
	margin:5px auto;
}
.textInput{
	margin-top:2px;
	height:28px;
	border:1px solid #5E6E66;
	font-size:16px;
	padding:1px;
	width:100%;
}
td
{
	text-align:right;
}